.nav{
display: flex;
justify-content: space-around;
align-items: center;
padding-top: 30px;
}
.logo{
padding-right: 50px;
}
.links{
    display: flex;
    gap: 20px;
}
.links li{
list-style: none;

}
.logout{

}